@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.leaderboard {
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    font-size: 0.65rem;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__info,
  &__total,
  &__index {
    color: $white;
    text-align: center;

    @include desktop {
      width: 25%;
    }
  }

  &__info {
    width: 30%;
    @include desktop {
      width: 25%;
    }
  }

  &__total {
    width: 8%;
    @include desktop {
      width: 25%;
    }
  }

  &__index {
    text-align: left;
    width: 0;

    @include desktop {
      width: 5%;
    }
  }

  &__username {
    text-align: left;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $darkorange;
    }
  }

  .golden-effect .leaderboard__index,
  .golden-effect .leaderboard__username,
  .golden-effect .leaderboard__total,
  .golden-effect .leaderboard__info {
    color: gold;
    text-shadow: 0 0 5px rgba(255, 223, 0, 0.75), 0 0 10px rgba(255, 223, 0, 0.5), 0 0 15px rgba(255, 223, 0, 0.25);
    animation: shimmer-gold 2s infinite;
  }

  .silver-effect .leaderboard__index,
  .silver-effect .leaderboard__username,
  .silver-effect .leaderboard__total,
  .silver-effect .leaderboard__info {
    color: silver;
    text-shadow: 0 0 5px rgba(192, 192, 192, 0.75), 0 0 10px rgba(192, 192, 192, 0.5), 0 0 15px rgba(192, 192, 192, 0.25);
    animation: shimmer-silver 2s infinite;
  }

  .bronze-effect .leaderboard__index,
  .bronze-effect .leaderboard__username,
  .bronze-effect .leaderboard__total,
  .bronze-effect .leaderboard__info {
    color: #CD7F32;
    text-shadow: 0 0 5px rgba(205, 127, 50, 0.75), 0 0 10px rgba(205, 127, 50, 0.5), 0 0 15px rgba(205, 127, 50, 0.25);
    animation: shimmer-bronze 2s infinite;
  }

  &__title {
    @include desktop {
      font-size: 1rem;
    }

    &.win::after {
      content: "Wins"; // Default content for non-mobile
    }

    &.losses::after {
      content: "Losses"; // Default content for non-mobile
    }

    @media (max-width: 768px) {
      &.win::after {
        content: "W"; // Content for mobile
      }

      &.losses::after {
        content: "L"; // Content for mobile
      }
    }
  }
}

@keyframes shimmer-gold {
  0% {
    text-shadow: 0 0 5px rgba(255, 223, 0, 0.75), 0 0 10px rgba(255, 223, 0, 0.5), 0 0 15px rgba(255, 223, 0, 0.25);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 223, 0, 0.75), 0 0 20px rgba(255, 223, 0, 0.5), 0 0 30px rgba(255, 223, 0, 0.25);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 223, 0, 0.75), 0 0 10px rgba(255, 223, 0, 0.5), 0 0 15px rgba(255, 223, 0, 0.25);
  }
}

@keyframes shimmer-silver {
  0% {
    text-shadow: 0 0 5px rgba(192, 192, 192, 0.75), 0 0 10px rgba(192, 192, 192, 0.5), 0 0 15px rgba(192, 192, 192, 0.25);
  }
  50% {
    text-shadow: 0 0 10px rgba(192, 192, 192, 0.75), 0 0 20px rgba(192, 192, 192, 0.5), 0 0 30px rgba(192, 192, 192, 0.25);
  }
  100% {
    text-shadow: 0 0 5px rgba(192, 192, 192, 0.75), 0 0 10px rgba(192, 192, 192, 0.5), 0 0 15px rgba(192, 192, 192, 0.25);
  }
}

@keyframes shimmer-bronze {
  0% {
    text-shadow: 0 0 5px rgba(205, 127, 50, 0.75), 0 0 10px rgba(205, 127, 50, 0.5), 0 0 15px rgba(205, 127, 50, 0.25);
  }
  50% {
    text-shadow: 0 0 10px rgba(205, 127, 50, 0.75), 0 0 20px rgba(205, 127, 50, 0.5), 0 0 30px rgba(205, 127, 50, 0.25);
  }
  100% {
    text-shadow: 0 0 5px rgba(205, 127, 50, 0.75), 0 0 10px rgba(205, 127, 50, 0.5), 0 0 15px rgba(205, 127, 50, 0.25);
  }
}
