$gray: #27282d;
$light-gray: #323334;
$white: #fff;
$orangered: orangered;
$darkorange: darkorange;
$black: #000;
$red: red;
$red-white: #f69c9c;
$whitish-gray: #bebebe;
$green: #02ab02;
$discord-blue: #5865F2;
$scrollbar-white: #858585;