@import "./colors" ;
@import "./mixins";
@import './variables';

*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin:0;
  background: $light-gray;
  font-family: 'Press Start 2P', serif, Roboto;
  letter-spacing: 0.002rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $whitish-gray;
}

::-webkit-scrollbar-track {
  background: transparent;
}
