@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;

.not-available {
  @include notAvailable {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray;
    z-index: 1000;
  }
  display: none;

  &__title {
    color: $orangered;
    line-height: 2rem;
    text-align: center;
    margin-top: -5rem;
  }
}