@import "../../styles/partials/mixins";

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 120vh;
  height: 100%;
  @include desktop {
    margin-top: 1.5rem;
  }
}