@import "../../styles/partials/colors";
@import '../../styles/partials/mixins';

.login {

  &__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    @include desktop{
      padding: 1rem 3rem 2rem 3rem;
      max-width: 40vw;
      background: $gray;
      border: 3px solid $darkorange;
      border-radius: 30px;
    }
  }

  &__label{
    display: flex;
    flex-direction: column;
    color: $darkorange;
    padding: 0 0 1.5rem 0;
    font-size: 1.25rem;

    @include desktop {
      font-size: 1rem;
      padding: 1.5rem 0;
    }
  }

  &__input {
    max-height: 25vh;
    height: 100%;
    padding: 0.75rem;
    border-radius: 30px;
    border: none;
    margin-top: 1rem;
    color: $gray;
    font-family: 'Press Start 2P', serif, Roboto;

    &::placeholder {
      font-family: 'Press Start 2P', serif, Roboto;
      color: $gray;
      padding: 0.5rem 0;
    }
  }

  &__forgot {
    color: $white;
    font-size: 0.7rem;
    margin-top: -0.8rem;
    margin-bottom: 1.2rem;

    &:hover {
      color: $darkorange;
      cursor: pointer;
    }
  }

  &__checkbox {
    margin: 0 0.75rem 0 0;
    width: 14px;
    height: 14px;

    @include desktop {
      margin: 0 1rem 0 0;
      width: 18px;
      height: 18px;
    }
  }

  &__remember {
    color: $white;
    font-size: 0.80rem;
    @include desktop {
      font-size: 1rem;
    }
  }

  &__button{
    font-family: 'Press Start 2P', serif, Roboto;
    background: $darkorange;
    color: $white;
    border: none;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    max-height: 50vh;
    padding: 0.75rem;
    height: 100%;
    margin-top: 1rem;

    @include desktop {
      width: 35%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__remember-label {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__signup {
    text-align: center;
    color: $orangered;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;

    &:hover {
      color: $darkorange;
      text-decoration: underline;
    }
  }

  &__signup-wrapper{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__signup-text {
    text-align: center;
    color: $white;
    margin-top: 2rem;
    font-size: 0.8rem;
  }

  &__error {
    color: $orangered;
    margin-top: 1.5rem;
    line-height: 1.25rem;
  }

  &__or {
    color: $white;
    font-size: 0.8rem;
    padding: 0 1rem;
  }

  &__or-bar {
    height: 2px;
    width: 100%;
    background: $white;
    display: inline-block;
    vertical-align: middle;
  }

  &__or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}