@import "../../styles/partials/colors";

.leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 120vh;
  height: 100%;
  margin-top: 7rem;

  &__div{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4rem;
    width: 35%;
    background: $white;
    border: 3px solid $darkorange;
    border-radius: 30px;
  }
}