@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.profile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__container{
    padding: 1rem;

    @include desktop {
      display: flex;
      flex-direction: column;
      padding: 2.5rem 4rem 0 4rem;
      margin-top: 3rem;
      max-width: 45vw;
      width: 100%;
      background: $gray;
      border: 3px solid $darkorange;
      border-radius: 30px;
      position: relative;
    }
  }

  &__picture-wrapper {
    flex: 1;
  }

  &__picture {
    border-radius: 50%;
    position: relative;
    height: 150px;
    width: 150px;
    @include desktop {
      height: 175px;
      width: 175px;
    }
  }

  &__logout {
    position: absolute;
    top: 5.25rem;
    right: 1.25rem;
    height: 25px;
    @include desktop {
      position: absolute;
      top: 2rem;
      right: 2rem;
      height: 30px;
      cursor: pointer;
    }
    &:hover{
      opacity: 0.7;
    }
  }

  &__user {
    display: flex;
    gap: 5rem;
    align-items: center;
  }

  &__upload {
    display: none;
  }

  &__upload-label {
    position: relative;
  }

  &__upload-camera {
    bottom: 0;
    right: 0;
    height: 45px;
    position: absolute;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__username {
    color: $white;
    flex: 1;
    margin-left: -3rem;
    font-size: 1rem;

    @include desktop {
      font-size: 1.7rem;
    }
  }

  &__info {
    color: $darkorange;
    margin-top: 1rem;
    font-size: 1.1rem;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 4rem;
  }

  &__error {
    margin-top: 1rem;
    color: $red;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    @include desktop {
      width: 35vw;
    }
  }

  &__delete-button {
    color: $white;
    background: $red;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-family: 'Press Start 2P', serif, Roboto;
    letter-spacing: 0.002rem;
    margin-top: 0.5rem;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.verify-discord-button {
  position: relative; /* Needed for tooltip positioning */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5865f2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;

  &:hover {
    background-color: #4e5bbd;

    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .discord-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    transition: opacity 0.3s;
    font-size: 0.9rem;
    line-height: 1.25rem;

    /* Tooltip arrow */
    &::after {
      content: '';
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
}
