@import "../../styles/partials/colors";

.policies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200vh;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem 2rem 3rem;
    max-width: 75vw;
    min-width: 70vw;
    width: 35%;
    background: $gray;
    border: 3px solid $darkorange;
    border-radius: 30px;
  }

  &__title {
    color: $darkorange;
    font-size: 2rem;

  }

  &__privacy-title {
    color: $darkorange;
    margin-top: 1.5rem;
  }

  &__info {
    color: $white;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-size: 0.85rem;
  }

  &__important {
    color: $orangered;
    font-weight: bold;
    font-size: 1.15rem;
  }

  &__link {
    color: $orangered;

    &:hover {
      color: $darkorange;
    }
  }

  &__link-wrapper {
    margin-top: 2rem;
  }
}