@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.audio {
  position: fixed;
  right: 0.5rem;
  z-index: 2003;
  display: block;
  bottom: 1rem;

  &__name {
    color: $white;
    position: absolute;
    border-radius: 25px;
    background: $black;
    line-height: 1rem;
    text-align: center;
    width: 100%;
    border: $darkorange 2px solid;
    top: -3rem;
    font-size: 0.65rem;
    padding: 0.5rem 1rem;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    background: $darkorange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1px 6px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__button-play {
    padding: 0.35rem 0.75rem;
  }

  &__button-image {
    height: 35px;
  }

  &__volume {
    text-align: center;
  }

  &__volume-slider {
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 0.5rem;
    height: 5px;
    background: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 12px;
      height: 12px;
      background: $darkorange;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: $darkorange;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.discord {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 2003;
  transition: left 0.5s;

  &:hover {
    left: 3rem;
    cursor: pointer;
  }

  &__img {
    height: 50px;
  }

  &__tooltip {
    visibility: hidden;
    background-color: $light-gray;
    color: $discord-blue;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 17%;
    margin-left: -50px;
    opacity: 0;
    transition: visibility 0.75s ease-in-out;
    white-space: nowrap;
    animation: fadeIn 0.75s forwards;
  }

  &:hover .discord__tooltip {
    visibility: visible;
    animation: fadeIn 0.75s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }

  &:not(:hover) .discord__tooltip {
    animation: fadeOut 0.25s forwards;
  }

  @keyframes fadeOut {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 0;
    }
  }
}
