@import "../../styles/partials/colors";

.audio {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2003;

  &__name {
    color: $white;
    position: absolute;
    top: -3rem;
    border-radius: 25px;
    font-size: 0.65rem;
    background: $black;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    text-align: center;
    width: 100%;
    border: $darkorange 2px solid;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    background: $darkorange;
    border: none;
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__button-play {
    padding: 0.35rem 0.75rem;
  }

  &__button-image {
    height: 35px;
  }

  &__volume {
    text-align: center;
  }

  &__volume-slider {
    width: 100%;
    max-width: 200px;
    appearance: none;
    height: 5px;
    background: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      background: $darkorange;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: $darkorange;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
