@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200vh;
  height: 100%;

  @include desktop {
    margin-bottom: 1rem;
  }

  &__container {
    width: 100%;
    @include desktop {
      display: flex;
      flex-direction: column;
      padding: 0 2rem 0.5rem 2rem;
      max-width: 75vw;
      min-width: 70vw;
      width: 35%;
      background: $gray;
      border: 3px solid $darkorange;
      border-radius: 30px;
      margin-top: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    color: $darkorange;
    font-size: 0.75rem;

    @include desktop {
      font-size: 1.3rem;
    }
  }

  &__top {
    color: $orangered;
    text-align: center;
    font-size: 1.5rem;

    @include desktop {
      font-size: 1.75rem;
      margin-bottom: 0;
    }
  }
}

.win {
  @include desktop {
    position: relative;
    right: -2rem;
  }
}

.losses {
  @include desktop {
    position: relative;
    right: -2rem;
  }
}