@import "../../styles/partials/colors";

.result {
  &__item {
    background: $gray;
    min-width: 51vw;
    min-height: 24vh;
    margin: 2rem;
    border: 3px solid $darkorange;
    border-radius: 20px;
    position: relative;
  }

  &__picture {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 2.5rem;
  }

  &__username {
    position: absolute;
    font-size: 2rem;
    top: 2.5rem;
    color: $darkorange;
  }

  &__wins {
    position: absolute;
    font-size: 1.25rem;
    top: 7rem;
    color: $white;
  }

  &__losses {
    position: absolute;
    font-size: 1.25rem;
    top: 7rem;
    right: 5rem;
    color: $white;
  }

  &__link {
    height: 50px;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}