@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.result {
  &__item {
    background: $gray;
    border: 3px solid $darkorange;
    border-radius: 20px;
    position: relative;
    width: 100%;
    min-height: 15vh;
    margin-bottom: 1rem;

    @include desktop {
      margin: 2rem;
      min-width: 51vw;
      min-height: 24vh;
    }
  }

  &__picture {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 1.5rem;

    @include desktop {
      height: 125px;
      width: 125px;
      margin: 2.5rem;
    }
  }

  &__username {
    position: absolute;
    color: $darkorange;
    font-size: 1.20rem;
    top: 1.5rem;

    @include desktop {
      font-size: 2rem;
      top: 2.5rem;
    }
  }

  &__wins {
    color: $white;
    font-size: 0.8rem;
    position: absolute;
    top: 4rem;
    @include desktop {
      font-size: 1.25rem;
      top: 7rem;
    }
  }

  &__losses {
    color: $white;
    font-size: 0.8rem;
    position: absolute;
    top: 4rem;
    right: 2rem;

    @include desktop {
      position: absolute;
      font-size: 1.25rem;
      top: 7rem;
      right: 5rem;
    }
  }

  &__link {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    height: 25px;
    cursor: pointer;

    @include desktop {
      height: 40px;
      right: 1.25rem;
      bottom: 1rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}