@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.home {
  text-align: center;
  line-height: 1.6rem;
  display: flex;
  justify-content: center;
  margin: 1rem;

  @include desktop {
    margin: 2rem;
  }

  &__wrapper {
    @include desktop {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 3rem;
      max-width: 80vw;
      width: 100%;
      background: $gray;
      border: 3px solid $darkorange;
      border-radius: 30px;
    }
  }

  &__gif {
    display: block;
    width: 65vw;

    @include desktop {
      width: 20vw;
    }
  }

  &__gif-jump {
    display: block;
    height: 30vh;

    @include desktop {
      height: 40vh;
    }
  }

  &__title{
    color: $darkorange;
    margin-bottom: 1rem;
    font-size: 1.2rem;

    @include desktop {
      font-size: 2rem;
    }
  }

  &__info {
    color: $white;
    margin-bottom: 2rem;
    font-size: 0.9rem;

    @include desktop {
      font-size: 1.1rem;
    }
  }

  &__map {
    height: 140px;
    width: 280px;
    margin: 1rem 3rem;
    cursor: pointer;
    border-radius: 10px;

    @include desktop {
      height: 120px;
      width: 240px;
    }
  }

  &__map--selected {
    border: 3px solid white;

  }

  &__sub-title {
    color: $darkorange;
    font-size: 1.25rem;

    @include desktop {
      font-size: 1.8rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    color: $white;
  }

  &__item {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__instruction {
    margin: 0.5rem;
  }

  &__strong {
    color: $orangered;
  }

  &__button, &__signup-button {
    background: darkorange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    margin-bottom: 2rem;
    font-family: 'Press Start 2P', serif, Roboto;

    @include desktop {
      font-size: 1.2rem;
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.05);
    }
  }

  &__signup-button {
    background: linear-gradient(45deg, #ff6347, #ff4500);
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__link{
    color: $orangered;
    &:hover {
      color: $darkorange;
    }
  }
}
