@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";

.result{
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  &__title {
    color: $darkorange;
    text-align: center;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__error {
    margin-top: 2rem;
    color: $orangered;
    font-size: 1.25rem;
    text-align: center;
  }
}